<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/adress-book.css" type="text/css">
</head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">


                       <ul>  
    <li ><a href="./">Home</a></li>
    <li class="active"><a href="products">Shop</a></li>
    <% category.forEach((row, index) => { %>  
        <li><a href="./products/<%= row._id %>"><%= row.category_name %></a></li>
    <% }) %>
    
</ul>
               

</nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
   
      <main class="main">
        <section class="section-parent">
            <div class="profile-details">
                <div class="profile-inner">
                    <div class="welcome-message">
                        <div class="welcome-md-rimel-container">
                            <span>Welcome! </span>
                            <span class="md-rimel"><%= user.firstName %></span>
                        </div>
                    </div>
                    <div class="account-management">
                        <div class="manage-account">
                            <div class="manage-my-account">Manage My Account</div>
                            <div class="account-options">
                                <div class="options">
                                    <div class="my-profile">My Profile</div>
                                    <div href="/home" class="address-book" id="addressBookText">Address Book</div>
                                    <div class="my-payment-options" id="myPaymentOptions">My Payment Options</div>
                                </div>
                            </div>
                            <div class="my-orders-parent">
                                <div class="my-orders">My Orders</div>
                                <div class="order-types">
                                    <div class="my-orders-wrapper">
                                        <div class="my-orders1">My Orders</div>
                                    </div>
                                    <div class="my-returns-wrapper">
                                        <div class="my-returns">My Returns</div>
                                    </div>
                                    <div class="cancellation">
                                        <div class="my-cancellations-wrapper">
                                            <div class="my-cancellations">My Cancellations</div>
                                        </div>
                                        <div class="my-wishlist">My WishList</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="profile-form" class="edit-profile" >
                            <div class="edit-your-profile">Add New Adddress</div>
                            <div class="profile-form">
                                 <div class="name-fields-parent">
                                    <div class="name-fields">
                                        <div class="name-containers">
                                            <div class="first-name">First Name</div>
                                            <div class="placebox-info">
                                                <div class="place-to-info-box"></div>
                                                <input class="md"  type="text" name="firstName" required>
                                            </div>
                                        </div>
                                        
                                      
                                    </div>
                                    <div class="address-fields-parent">
                                        <div class="address-fields">
                                            <div class="last-name">Last Name</div>
                                            <div class="placebox-info2">
                                                <div class="place-to-info-box2"></div>
                                                <input class="md2"  name="lastName" type="text" required>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="name-fields-parent">
                                    <div class="name-fields">
                                        <div class="name-containers">
                                            <div class="first-name">House Number/House Name</div>
                                            <div class="placebox-info">
                                                <div class="place-to-info-box"></div>
                                                <input class="md"  type="text" name="houseNumber" required>
                                            </div>
                                        </div>
                                        <div class="name-containers1">
                                            <a class="email">Address Line 2</a>
                                            <div class="placebox-info1">
                                                <div class="place-to-info-box1"></div>
                                                <input class="md1"   name="addressLine2">
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="address-fields-parent">
                                        <div class="address-fields">
                                            <div class="last-name">Address line 1</div>
                                            <div class="placebox-info2">
                                                <div class="place-to-info-box2"></div>
                                                <input class="md2"  name="addressLine1" type="text" required>
                                            </div>
                                        </div>
                                        <div class="address-fields1">
                                            <div class="address">Postal Code</div>
                                            <div class="placebox-info3">
                                                <div class="place-to-info-box3"></div>
                                                <input class="md3" name="postalCode" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                                   <div class="form-text text-muted">
                                                       </div>
                                <div class="form-group m-0">
                                   
                                </div>
                            </div>
                             <div class="profile-form">
                                <div class="name-fields-parent">
                                    <div class="name-fields">
                                        <div class="name-containers">
                                            <div class="first-name">State</div>
                                            <div class="placebox-info">
                                                <div class="place-to-info-box"></div>
                                                <input class="md"  type="text" name="state" required>
                                            </div>
                                        </div>
                                      
                                      
                                    </div>
                                    <div class="address-fields-parent">
                                        <div class="address-fields">
                                            <div class="last-name">country</div>
                                            <div class="placebox-info2">
                                                <div class="place-to-info-box2"></div>
                                                <input class="md2" name="country" type="text" required>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                                   <div class="form-text text-muted">
                                                       </div>
                                <div class="form-group m-0">
                                   
                                </div>
                            </div>
                            <div id="error-message" class="m-auto" style="color: red;"></div>
                            <div class="form-buttons">
                                <div class="button-container" id="buttonContainer">
                                    <div class="cancel-button">
                                        <a  class="cancel">Cancel</a>
                                    </div>
                                    <div class="form-buttons">
    <button type="submit" class="button1" id="saveChangesButton">Add Address</button>
    
</div>

                                </div>
                            </div>
                        </form>
                        <div id="passwordCriteria" class="mt-2"></div>
                        <div class="alert alert-success" id="userSuccessMessage" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
      <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
     <script>
document.getElementById('profile-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    // Get the form inputs
    const houseNumber = document.querySelector('input[name="houseNumber"]').value.trim();
    const addressLine1 = document.querySelector('input[name="addressLine1"]').value.trim();
    const postalCode = document.querySelector('input[name="postalCode"]').value.trim();
    const state = document.querySelector('input[name="state"]').value.trim();
    const country = document.querySelector('input[name="country"]').value.trim();

    // Validate the inputs
    let errorMessage = '';

    // Regular expressions for validation
    const alphanumericRegex = /^[a-zA-Z0-9\s]+$/;
    const postalCodeRegex = /^\d{5}(?:[-\s]\d{4})?$/; // US ZIP code format
    const lettersRegex = /^[a-zA-Z\s]+$/;

    if (!houseNumber || !alphanumericRegex.test(houseNumber)) {
        errorMessage += 'House Number is required and should be alphanumeric. ';
    }
    if (!addressLine1) {
        errorMessage += 'Address Line 1 is required. ';
    }
    if (!postalCode || !postalCodeRegex.test(postalCode)) {
        errorMessage += 'Valid Postal Code is required. ';
    }
    if (!state || !lettersRegex.test(state)) {
        errorMessage += 'State is required and should contain only letters. ';
    }
    if (!country || !lettersRegex.test(country)) {
        errorMessage += 'Country is required and should contain only letters. ';
    }

    // Show error message if validation fails
    if (errorMessage) {
        document.getElementById('error-message').textContent = errorMessage;
    } else {
        // Submit the form if validation is successful
        document.getElementById('error-message').textContent = '';
        const formData = new FormData(document.getElementById('profile-form'));
        fetch('/user/addnewaddress', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url; // Redirect to the success or error page
            } else {
                return response.json().then(data => {
                    if (data.message) {
                        document.getElementById('error-message').textContent = data.message;
                    }
                });
            }
        })
        .catch(error => {
            document.getElementById('error-message').textContent = 'An error occurred. Please try again.';
        });
    }
});
</script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  
</body>

</html>
 

    <!-- <script>
    const saveChangesButton = document.getElementById('saveChangesButton');
    const errorMessageDiv = document.getElementById('error-message');

    saveChangesButton.addEventListener('click', (e) => {
        e.preventDefault(); // Prevent default form submission behavior

        
       
    });
</script>
<script>
  document.getElementById('addressBookText').addEventListener('click', function() {
    window.location.href = '/user/address';
  });
</script>
      -->

